<%= render "banner", cocktail: @cocktail %>

<div class="row">
  <div class="d-grid col-6">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h3><%= cocktail.name %></h3>
        <%= link_to "Edit Drink", new_cocktail_dose_path(cocktail) %>
        <%= link_to "Show Ingredients", cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to "Add a Drink", new_cocktail_path %>
