<%= render "banner", cocktail: @cocktail %>
<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="d-grid column">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <h3><%= cocktail.name.capitalize %></h3>
            <%= link_to "Edit Drink",
                      new_cocktail_dose_path(cocktail),
                      class: "btn btn-outline-light" %>
            <%= link_to "Show Ingredients",
                      cocktail_path(cocktail),
                      class: "btn btn-outline-light" %>
          </div>
        </div>
      <% end %>
  </div>
</div>


<div class="container footer">
  <%= link_to "Add a new drink", new_cocktail_path, class: "btn btn-outline-secondary" %>
</div>
